<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        id        = "se.loppisportalen.loppisportalen1"
        xmlns:gap = "http://phonegap.com/ns/2.0.0"
        version   = "1.0.0">
    <name>Loppisportalen</name>

    <description>
        Loppisportalen samlar Sveriges loppisar på ett ställe, hitta dina favoritloppisar och nya loppisar. 
    </description>

    <author href="http://www.loppisportalen.se" email="kallio@webbigt.se">
        Mattias Kallio
    </author>

    <access origin="*"/>

    <!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
    <content src="index.html" />

    <preference name="loglevel" value="DEBUG" />
    <!--
      <preference name="splashscreen" value="resourceName" />
      <preference name="backgroundColor" value="0xFFF" />
      <preference name="loadUrlTimeoutValue" value="20000" />
      <preference name="InAppBrowserStorageEnabled" value="true" />
      <preference name="disallowOverscroll" value="true" />
    -->
    
    <gap:plugin name="com.phonegap.plugins.childbrowser" />
	<preference name="stay-in-webview" value="false" />
	<access origin="*" subdomains="true" browserOnly="true" />
	<preference name="ios-statusbarstyle" value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
	<preference name="exit-on-suspend" value="true" />
    
	<icon gap:platform="ios" height="57" width="57" src="res/icon/ios/icon-57.png" />
	<icon gap:platform="ios" height="72" width="72" src="res/icon/ios/icon-72.png"/>
	<icon gap:platform="ios" height="114" width="114" src="res/icon/ios/icon-57-2x.png" />
	<icon gap:platform="ios" height="144" width="144" src="res/icon/ios/icon-72-2x.png" />
	<icon gap:platform="ios" height="120" width="120" src="res/icon/ios/icon-120.png"/>
	<icon gap:platform="ios" height="76" width="76" src="res/icon/ios/icon-76.png"/>
	<icon gap:platform="ios" height="152" width="152" src="res/icon/ios/icon-152.png"/>
	
	<gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
	<gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
	<gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
	<gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
	<gap:splash gap:platform="ios" height="480" width="320" src="res/screen/ios/screen-iphone-portrait.png" />
	<gap:splash gap:platform="ios" height="960" width="640" src="res/screen/ios/screen-iphone-portrait-2x.png" />
	<gap:splash gap:platform="ios" height="1024" width="768" src="res/screen/ios/screen-ipad-portrait.png" />
	<gap:splash gap:platform="ios" height="768" width="1024" src="res/screen/ios/screen-ipad-landscape.png" />

    <feature name="App">
      <param name="android-package" value="org.apache.cordova.App"/>
    </feature>
    <feature name="Geolocation">
      <param name="android-package" value="org.apache.cordova.GeoBroker"/>
    </feature>
    <feature name="Device">
      <param name="android-package" value="org.apache.cordova.Device"/>
    </feature>
    <feature name="Accelerometer">
      <param name="android-package" value="org.apache.cordova.AccelListener"/>
    </feature>
    <feature name="Compass">
      <param name="android-package" value="org.apache.cordova.CompassListener"/>
    </feature>
    <feature name="Media">
      <param name="android-package" value="org.apache.cordova.AudioHandler"/>
    </feature>
    <feature name="Camera">
      <param name="android-package" value="org.apache.cordova.CameraLauncher"/>
    </feature>
    <feature name="Contacts">
      <param name="android-package" value="org.apache.cordova.ContactManager"/>
    </feature>
    <feature name="File">
      <param name="android-package" value="org.apache.cordova.FileUtils"/>
    </feature>
    <feature name="NetworkStatus">
      <param name="android-package" value="org.apache.cordova.NetworkManager"/>
    </feature>
    <feature name="Notification">
      <param name="android-package" value="org.apache.cordova.Notification"/>
    </feature>
    <feature name="Storage">
      <param name="android-package" value="org.apache.cordova.Storage"/>
    </feature>
    <feature name="FileTransfer">
      <param name="android-package" value="org.apache.cordova.FileTransfer"/>
    </feature>
    <feature name="Capture">
      <param name="android-package" value="org.apache.cordova.Capture"/>
    </feature>
    <feature name="Battery">
      <param name="android-package" value="org.apache.cordova.BatteryListener"/>
    </feature>
    <feature name="SplashScreen">
      <param name="android-package" value="org.apache.cordova.SplashScreen"/>
    </feature>
    <feature name="Echo">
      <param name="android-package" value="org.apache.cordova.Echo"/>
    </feature>
    <feature name="Globalization">
      <param name="android-package" value="org.apache.cordova.Globalization"/>
    </feature>
    <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
    </feature>
    <!-- Deprecated plugins element. Remove in 3.0 -->
    <plugins>
    </plugins>
</widget>
